<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="http://localhost/MyNugetServer/nuget" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFa8K0SbMfE+Tb/sqOOIwmAAAAAACAAAAAAAQZgAAAAEAACAAAADcTk7fgPSzcoAjpze0MTqT4VhwvlHdAfDYB+X0foPTowAAAAAOgAAAAAIAACAAAABRrYG7HfYRRgUQ+qW129lqnMWk5lErIBH/RKL17ou6TzAAAABA6md06JBoVi0mkPjSg9VcH97rXpPzR9eNiLFy5yVwLxKGgn2hPY0zZsV4X0Krpx5AAAAAzLqhYWGYfSN6JfcJwmMovB3HDOJdNy26rkPMtI3RcXmkA5dgqrui+XpgeKTXKCZ9XDIQq3x+VGcH27Ny3H3zTA=="/>
  </apikeys>
  <packageSources>
    <add key="MyNugetServer" value="http://localhost/MyNugetServer/nuget" />
  </packageSources>
</configuration>